{% load bootstrap %}
<div class="row">

    <div class="col-lg-12">
        <h1>Criar/editar funcionários</h1>
        <br/>
        <form action="{% url 'app_funcionario_update' funcionario.id %}" method="POST">
            {% csrf_token %}
            {% include 'funcionarios/campos_form_funcionario.html' %}
            <input type="submit" class="btn btn-info" value="Salvar">
            <a input type="button" class="btn btn-danger"  href="{% url 'app_funcionario_delete' funcionario.id %}">Deletar funcionário</a>
        </form>
    </div>
</div>