<div class="row">

    <div class="col-lg-4">
        <h1>Criar/editar funcionários</h1>
        {% if erros %}      	
        	<div class="alert alert-danger fade in">
				{{erros}}
		    </div>

        {% endif %}
        <br/>
        <form action="{% url 'app_funcionario_add' %}" method="POST">
            {% csrf_token %}
            {% include 'funcionarios/campos_form_funcionario.html' %}
            <input type="submit" class="btn btn-info" value="Salvar">
        </form>
    </div>
</div>