<!-- Small modal -->
<button class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm"
        type="button">
    Deletar
</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Tem certeza que gostaria de excluir o funcionário {{funcionario.nome}}?</h5>
        </div>
        <div class="modal-body">
            <a input type="button" class="btn btn-danger"  href="{% url 'app_funcionario_delete' funcionario.id %}">Deletar funcionário</a>
            <a href="{% url 'app_funcionario_detalhe' funcionario.id%}" class="btn btn-info">Cancelar</a>
        </div>
    </div>
  </div>
</div>
