<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Consultar contas-caixa</h3>
    </div>
    <div class="panel-body">
        <form method="POST" class="navbar-form navbar-left" role="search"
                  action="{% url 'app_financeiro_conta_caixa_filtrar' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" name="descricao" placeholder="Descrição">
                    <br/>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="empresa" placeholder="empresa">
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="conta_caixa_superior" placeholder="Conta-caixa superior">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info">Pesquisar</button>
            <label> Gerar relatório  </label>
            <input class="form-control" type="checkbox" name="relatorio">
        </form>
    </div>
</div>