{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   {{dados.site_titulo}}
{% endblock %}

{% block conteudo %}
        {% if mensagem %}
            <div class="color-swatch brand-primary">
            <div class="alert alert-dismissable alert-success">
                  {{mensagem}}
            </div>
                <br>
                <br>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="{% url 'app_parametros_home' %}" class="well">
                    {% csrf_token %}
                     <br/>
                    {{form|bootstrap}}
                    <br />
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                </form>
            </div>
        </div>
{% endblock %}

