{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   {{dados.site_titulo}}
{% endblock %}

{% block conteudo %}
<!-- Small modal -->
<button class="btn btn-danger" data-toggle="modal" 
    data-target=".bs-example-modal-sm" type="button"> 
    Dicas de como personalizar os textos das cartas e das cláusulas
</button>

<div class="modal fade bs-example-modal-sm" tabindex="3" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Dicas de como personalizar os textos das cartas e das cláusulas</h5>
        </div>
        <div class="modal-body">
            <li>Use as Tags &lt;b&gt;&lt;/b&gt;<br><b>para trechos em negrito</b><br></li><br>
            <li>Use as Tags &lt;i&gt;&lt;/i&gt; <br><i>para trechos em italico</i><br></li><br>
            <li>Use as Tags &lt;u&gt;&lt;/u&gt;<br> <u>para trechos sublinhados</u><br></li><br>
            <li>Use as Tags &lt;h1&gt;&lt;/h1&gt;<br> <h1>para para parágrafos em primeiro nível</h1><br></li><br>
            <li>Use as Tags &lt;h2&gt;&lt;/h2&gt;<br> <h2>para para parágrafos em segundo nível</h2><br></li><br>
            <li>Use as Tags &lt;h3&gt;&lt;/h3&gt;<br> <h3>para para parágrafos em terceiro nível</h3><br></li><br>
            <li>Use aa Tags &lt;br&gt;<br>para quebrar uma linha<br></li>
            <br>
            <br>
            <br>
            <button class="btn" data-dismiss="modal">Ok, Entendi!</button>
        </div>
    </div>
  </div>
</div>
<!--Fim do modal de Help-->

        {% if mensagem %}
            <div class="color-swatch brand-primary">
            <div class="alert alert-dismissable alert-success">
                  {{mensagem}}
            </div>
                <br>
                <br>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="{% url 'app_parametros_home' %}" class="well">
                    {% csrf_token %}
                     <br/>
                    {{form|bootstrap}}
                    <br />
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                </form>
            </div>
        </div>
{% endblock %}

