{% extends "template_relatorio_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Títulos
{% endblock %}

{% block conteudo %}
{% for titulo in titulos %}
<div class="container">
     <div class="row">
    <!--Início da carta-->

<br>
<br>
MONTES CLAROS, {{data}}

<br>
<br>

ILMO(A) SR(A)
{{titulo.cliente.nome}}<br>
Imóvel: {{titulo.contrato_locacao.imovel.descricao}}
<br>
<br>


Ref.: AVISO DE COBRANÇA
<br>
<br>

		Vimos através desta informar-lhe que conta em nossos registros a pendência de pagamento dos valores relativos ao(s) ALUGUEL DO PERÍODO: {{periodo_de}} à {{periodo_ate}},
		com MULTAS E JUROS, sob sua responsabilidade.
A fim de evitarmos maiores aborrecimentos, encaminhamos o presente aviso lembrando-lhe, que a existência da pendência desses pagamentos. Aguardamos o prazo de 48h (quarenta e oito horas) para a QUITAÇÃO dos mesmos.
<br>
<br>
	
		Não havendo qualquer manifestação da parte de V.sa, no sentido de regularização, informando-lhe que seremos obrigados a encaminhae o débito para o SPC (Serviço de Proteção ao Crédito) e juntamente com notificação de seus fiadores e ao nosso departamento jurídico para tomarmos as providências cabíveis.

<br>
<br>
Obs.: Caso já tenha quitado seus débitos, favor desconsiderar esta correspondencia.
<br>
<br>

	Qualquer dúvida entre em contato cnosco através do telefone (38) 3221-1084, (38)8401-0894 ou e-mail: alfredoimoveis@alfredoimoveisltda.com.br.
<br>
<br><br>
<br>
Atenciosamente.

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
ALFREDO IMÓVEIS E EMPREENDIMENTOS LTDA.<br>
DEPARTAMENTO DE COBRANÇA

    </div>
</div>    
{% endfor %}
{% endblock %}


