{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   {{empresa.nome}} - Títulos
{% endblock %}

{% block conteudo %}
<h2>RECIBO DE LOCATÁRIO</h2>
<h4>{{empresa.nome}}<br>
C.G.C {{empresa.cnpj}}<br>
{{empresa.endereco}}<br>
</h4>
<hr>
CONTRATO: {{recibo.titulo.contrato_locacao.pk}}      VENCIMENTO: {{recibo.titulo.vencimento}}              RECIBO: {{recibo.titulo.id}}/{{recibo.titulo.conta_parcelas}}<br>
IMÓVEL: {{recibo.titulo.contrato_locacao.imovel.endereco}}<br>
Proprietário: {{recibo.titulo.contrato_locacao.imovel.proprietario.nome}}<br>
Locatário: {{recibo.titulo.contrato_locacao.locatario.nome}}
<hr>
<div class="row">
    <div class="col-sm-6">  
    

    <table style="width:250px">
        
        <tr>
          <td>Aluguel.............................</td>
          <td>..............</td>
          <td>(+)</td>
          <td>&nbsp;R$</td>
          <td align="right">&nbsp;{{recibo.titulo.valor}}</td>
        </tr>
        
        <tr>
          <td>Juros ................................</td>
          <td>..............</td>
          <td>(+)</td>
          <td>&nbsp;R$</td>
          <td align="right">&nbsp;{{recibo.titulo.juros|floatformat:2}}</td>
        </tr>

        <tr>
          <td>Multa.................................</td>
          <td>.............</td>
          <td>(+)</td>
          <td>&nbsp;R$</td>
          <td align="right">&nbsp;{{recibo.titulo.multa|floatformat:2}}</td>
        </tr>

        {% if recibo.titulo.valor_iptu_pago%}
        <tr>
          <td>IPTU...................................</td>
          <td>.............</td>
          <td>(+)</td>
          <td>&nbsp;R$</td>
          <td align="right">&nbsp;{{recibo.titulo.valor_iptu_pago|floatformat:2}}</td>
        </tr>
        {% endif %}
        
        {% if recibo.titulo.valor_condominio_pago%}
            <tr>
              <td>Condominio.....................</td>
              <td>.............</td>
              <td>(+)</td>
              <td>&nbsp;R$</td>
              <td align="right">&nbsp;{{recibo.titulo.valor_condominio_pago|floatformat:2}}</td>
            </tr>
        {% endif %}

        {% if recibo.titulo.valor_encargos%}
            <tr>
              <td>*Encargos........................</td>
              <td>.............</td>
              <td>(+)</td>
              <td>&nbsp;R$</td>
              <td align="right">&nbsp;{{recibo.titulo.valor_encargos|floatformat:2}}</td>
            </tr>
        {% endif %}

        {% if recibo.titulo.valor_restante%}
            <tr>
              <td>Valor restante................</td>
              <td>.............</td>
              <td>(+)</td>
              <td>&nbsp;R$</td>
              <td align="right">&nbsp;{{recibo.titulo.valor_restante|floatformat:2}}</td>
            </tr>
        {% endif %}

        <tr>
              <td>Total..................................</td>
              <td>.............</td>
              <td>(+)</td>
              <td>&nbsp;R$</td>
              <td align="right">&nbsp;{{recibo.titulo.total|floatformat:2}}</td>
        </tr>

        <tr>
            <td  colspan="7">({{recibo.titulo.total_por_extenso}})</td>
        </tr>
    </table>
        {% if recibo.titulo.get_descricao_encargos|length > 25 %}
            <pre>
                {{recibo.titulo.get_descricao_encargos}}
            </pre>
        {% endif %}
        
    </div>
    <div class="col-sm-6">  
        Recebemos do locatário acima as importâncias descriminadas <br>
        ao lado provenientes do aluguel e encargos do imóvel ao <br>
        período de {{recibo.titulo.periodo}} à {{recibo.titulo.vencimento}}<br><br><br>

                    {{empresa.endereco.bairro.cidade.nome}}, {{data}}<br>

                        ________________________________________________________<br>
                            {{empresa.nome}}<br>
        <br>
        <br>
        Este recibo só tem valor firmado pela administradora sem rasuras, emendas ou ressalvas.<br>
        NÃO QUITA DÉBITOS ANTERIORES.<br>

    </div>
</div>
{% endblock %}

