{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Títulos
{% endblock %}

{% block conteudo %}
<h1>Recibo</h1>
    {% if mensagem %}
        <br/>
        <div class="alert alert-info fade in">
            {{mensagem}}
        </div>
    {% endif%}

    {% if erros %}
    <br/>
    <div class="alert alert-danger fade in">
        {{erros}}
    </div>
    {% endif%}

<pre>
RECIBO DE LOCATÁRIO
Alfredo imóveis
C.G.C 41.685.892/0001-99
Rua Tiradentes - 137, Centro - Montes Claros
__________________________________________________________________
CONTRATO: {{recibo.titulo.contrato_locacao.pk}} VENCIMENTO: {{recibo.titulo.vencimento}}       RECIBO: XXXXX/01-10
IMÓVEL: {{recibo.titulo.contrato_locacao.imovel.endereco}}
Proprietário: {{recibo.titulo.contrato_locacao.imovel.proprietario.nome}}
Locatário: {{recibo.titulo.contrato_locacao.locatario.nome}}
__________________________________________________________________
Aluguel………….(+) {{recibo.titulo.valor}}         Recebemos do locatário acima as importancias descriminadas 
Juros ……………(+)   00,00         ao lado provenientes do aluguel e encargos do imóvel ao 
Multa ……………(+)   00,00         período de 00/00/00 a 00/00/00.
                    Montes Claros, 00 de mes de ano.

                        __________________________
                            Alfredo Imóveis



TOTAL …………….  500,00        
(quinhentos reais)          Este recibo só tem valor firmado pela administradora sem 
rasuras, emendas ou ressalvas.
NÃO QUITA DÉBITOS ANTERIORES.
 
</pre>    
{% endblock %}

