{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Contratos de locação
{% endblock %}

{% block conteudo %}

    {% if mensagem %}
        <br/>
        <div class="alert alert-info fade in">
            {{mensagem}}
        </div>
    {% endif%}

    {% if erros %}
    <br/>
    <div class="alert alert-danger fade in">
        {{erros}}
    </div>
    {% endif%}

    <div class="row">
        <div class="panel-body">
            <form method="POST" class="navbar-form navbar-left" role="search"
                  action="{% url 'app_imoveis_contrato_salvar' contrato.id %}">
                {% csrf_token %}
                {{form|bootstrap}}
                <br/>
                <br/>
                <button type="submit" class="btn btn-info">Gravar</button>
                {% include 'contrato_locacao/modalExcluiContrato.html' %}
                <a href="{% url 'app_imoveis_contrato_imprimir' contrato.id %}">
                    <button type="button" class="btn btn-main">Imprimir contrato</button>
                </a>

                <a href="{% url 'app_imoveis_contrato_gerar_receber' contrato.id %}">
                    <button type="button" class="btn btn-danger">Gerar títulos a receber</button>
                </a>

                Data do cadastro: {{contrato.data_emissao_contrato}}
            </form>
        </div>
    </div>
{% endblock %}

