{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Contratos de locação
{% endblock %}

{% block conteudo %}
<script>
    function confirmaReceber(gerou) {
        if (gerou == 'True'){
            if (confirm("As contas a receber para este contrato já foram geradas, você esta certo de que gostaria de " +
                        "gerar as contas a receber para este contrato?")){
                document.getElementById("gera_receber_contrato").click();
            }
        }
        else {
            if (confirm("Você esta certo de que gostaria de gerar as contas a receber para este contrato?")){
                document.getElementById("gera_receber_contrato").click();
            }
        }

    }
</script>



    {% if mensagem %}
        <br/>
        <div class="alert alert-info fade in">
            {{mensagem}}
        </div>
    {% endif%}

    {% if erros %}
    <br/>
    <div class="alert alert-danger fade in">
        {{erros}}
    </div>
    {% endif%}

    <div class="row">
        {% if mens_parcelas %}
            <div class="alert alert-info fade in">
                {{mens_parcelas}}
            </div>
        {% elif mensagem_erro %}
            <div class="alert alert-danger fade in">
                {{mensagem_erro}}
            </div>
        {% endif %}

        <div class="panel-body">
            <form method="POST" class="navbar-form navbar-left" role="search"
                  action="{% url 'app_imoveis_contrato_salvar' contrato.id %}">
                {% csrf_token %}
                {{form|bootstrap}}
                <br/>
                <br/>
                <button type="submit" class="btn btn-info">Gravar</button>
                {% include 'contrato_locacao/modalExcluiContrato.html' %}
                <a href="{% url 'app_imoveis_contrato_imprimir' contrato.id %}">
                    <button type="button" class="btn btn-main">Imprimir contrato</button>
                </a>
            </form>
            <h1>{{contrato.gerou_receber}}</h1>
            <h1>{{contrato.id}}</h1>
                <button type="button" class="btn btn-danger"
                        onclick="confirmaReceber('{{contrato.gerou_receber}}');">Gerar títulos a receber</button>

                <a href="{% url 'app_imoveis_contrato_gerar_receber' contrato.id %}" id="gera_receber_contrato"></a>
                Data do cadastro: {{contrato.data_emissao_contrato}}

        </div>
    </div>
{% endblock %}

