<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Consultar contratos de locação</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="{% url 'app_imoveis_filtrar' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    <label>Descrição</label>
                    <input class="form-control" type="text" name="descricao" placeholder="Descrição">
                    <label>Proprietário</label>
                    <input class="form-control" type="text" name="proprietario" placeholder="Nome do proprietário">
                    <br/>
                </div>

                <div class="col-sm-3">
                    <label>Rua</label>
                    <input class="form-control" type="text" name="rua" placeholder="Rua">
                    <label>Bairro</label>
                    <input class="form-control" type="text" name="bairro" placeholder="Bairro">
                </div>

                <div class="col-sm-3">
                    <label>Cidade</label>
                    <input class="form-control" type="text" name="cidade" placeholder="Cidade">
                    <br>
                    <label> Inativos </label>
                    <input type="checkbox" name="ativo">
                </div>

                <div class="col-sm-3">
                    <label> Mês do cadastro </label><br>
                    De: <input class="form-control" id="data_ini">
                    
                    Até:<input class="form-control" id="data_fim">
                </div>
            </div>

            <button type="submit" class="btn btn-info">Pesquisar</button>
            <label> Gerar relatório  </label>
            <input type="checkbox" name="relatorio">
        </form>
    </div>
</div>