<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Consulta de recibos</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="{% url 'app_financeiro_caixa_filtra_titulos' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    De:     <input class="form-control" name="dataini" id="data_ini">
                </div>
                <div class="col-sm-3">
                    Até:<input class="form-control" name="datafim" id="data_fim">
                </div>
            <div class="col-sm-3">
                <label>Escolha o tipo da movimentação</label>
                <select class="form-control" name="tipo">
                    <option class="form-control"></option>
                    <option class="form-control" value="D" name="despesa">Despesa</option>
                    <option class="form-control" value="R" name="receita">Receita</option>
                </select>
                <br/>
            </div>
            <div class="col-sm-3">
                <label>Selecione a conta-caixa</label>
                <select class="form-control" name="contas_cx">
                    <option class="form-control" value="0" selected="selected">Selecione uma conta-caixa</option>
                    {% for conta in contas_caixa%}
                        <option class="form-control" value="{{conta.id}}">{{conta.descricao}}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
            <button type="submit" class="btn btn-info">Pesquisar</button>
            <label> Gerar relatório  </label>
            <input type="checkbox" name="relatorio" >
        </form>
    </div>
</div>