{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Clientes
{% endblock %}

{% block conteudo %}
    <h1>Edição de imóvel</h1>
    {% if mensagem %}
        <br/>
        <div class="alert alert-info fade in">
            {{mensagem}}
        </div>
    {% endif%}

    {% if erros %}
    <br/>
    <div class="alert alert-danger fade in">
        {{erros}}
    </div>
    {% endif%}

    <div class="row">
        <div class="panel-body">
            <form method="POST" class="navbar-form navbar-left" role="search"
                  action="{% url 'app_imoveis_salvar' imovel.id %}">
                {% csrf_token %}
                {{form|bootstrap}}
                <br/>
                {% include 'enderecos/endereco.html' %}
                <br/>
                <button type="submit" class="btn btn-info">Gravar</button>
                {% include 'imoveis/modalExcluiImovel.html' %}
                <a href="{% url 'app_imoveis_ficha' imovel.id %}">
                    <button type="button" class="btn btn-main">Imprimir ficha do imóvel</button>
                </a>
                Data do cadastro: {{imovel.data_cadastro}}
            </form>
        </div>
    </div>
{% endblock %}

