{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Clientes
{% endblock %}

{% block conteudo %}
    <h1>Edição de imóvel</h1>
    {% if mensagem %}
        <br/>
        <div class="alert alert-info fade in">
            {{mensagem}}
        </div>
    {% endif%}

    {% if erros %}
    <br/>
    <div class="alert alert-danger fade in">
        {{erros}}
    </div>
    {% endif%}
    <form method="POST"
          action="{% url 'app_imoveis_salvar' imovel.id %}">
        {% csrf_token %}
        {% include 'imoveis/form_imovel.html' %}
        <br/>
        <button type="submit" class="btn btn-info">Gravar</button>
        {% include 'imoveis/modalExcluiImovel.html' %}
        <a href="{% url 'app_imoveis_ficha' imovel.id %}" type="button" class="btn btn-main">Imprimir ficha do imóvel</a>
        <a href="{% url 'app_imoveis_laudo_vistoria_add_imovel' imovel.id %}" type="submit" class="btn btn-info">Laudo de vistoria</a>

        Data do cadastro: {{imovel.data_cadastro}}
    </form>

    <br>
    <br>
    <br>
    <h3>Laudos de vistoria para este imóvel</h3>
    {% for laudo in laudo_vistoria %}
        <a href="{% url 'app_imoveis_laudo_vistoria_update' laudo.id %}">{{laudo}}</a><br>
    {% endfor %}
    <br>
    <br>
    <br>
{% endblock %}

