{% load bootstrap %}
<div class="row">
	<div class="col-sm-12">
		{{form.descricao|bootstrap}}
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		{{form.proprietario|bootstrap}}
		{{form.valor_condominio|bootstrap}}
              </div>
    <div class="col-sm-4">
                            {{form.valor_iptu|bootstrap}}
        {{form.vencimento_iptu|bootstrap}}
	</div>
	<div class="col-sm-4">
		{{form.valor_aluguel|bootstrap}}
		{{form.ultima_vistoria|bootstrap}}
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
    	{{formEndereco.rua|bootstrap}} 
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        {{formEndereco.numero|bootstrap}}
        {{formEndereco.complemento|bootstrap}}
    </div>
    <div class="col-sm-4">
        {{formEndereco.bairro|bootstrap}}
        {{form.cod_ref_site|bootstrap}}
    </div>
    <div class="col-sm-4">
        {{formEndereco.cep|bootstrap}}
        {{form.tipo_imovel|bootstrap}}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        {{form.empresa|bootstrap}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <p> &nbsp;{{form.ativo|bootstrap}}</p>
    </div>
</div>