{% extends 'template_relatorio_base.html' %}
 {% block conteudo %}
        {% for cliente in clientes %}
            <br>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h2><img src="{{url_logo}}"> Alfredo Imóveis</h2>
                </div>
                <div class="col-sm-6">
                    <img src="http://cdn.vectorstock.com/i/composite/17,61/cake-ans-happy-birthday-vector-831761.jpg">
                </div>
            </div>

            <p>
                {{cliente.nome}}<br>
                {{cliente.endereco.rua}} {{cliente.endereco.numero}} {{cliente.endereco.complemento}}<br>
                {{cliente.endereco.bairro.cidade.nome}} - {{cliente.endereco.bairro.cidade.uf}}<br>
            </p>

            <br>
             <h4 align="justify">
                
            {{texto_carta|safe}}

            </h4>

            <br>
             <h4>Alfredo Imóveis.</h4>
                    
             <h4>Montes Claros {{cliente.data_nascimento|date:'d - M -'}}

             {{data.year}}</h4>
             <br>
             <br>
             <br>
             <br>
        

        {% endfor%}
{% endblock %}        
