{% extends 'template_relatorio_base.html' %}
 {% block conteudo %}
        {{clientes.count}}
        {% for cliente in clientes %}
            <br>
            <br>
            <p>
                {{cliente.nome}}<br>
                {{cliente.endereco.rua}} {{cliente.endereco.numero}} {{cliente.endereco.complemento}}<br>
                {{cliente.endereco.bairro.cidade.nome}} - {{cliente.endereco.bairro.cidade.uf}}<br>
            </p>

            <br>
            <br>
            <br>
            <br>
             <h4 align="justify">
                
                Sempre nos sentimos muito honrados em tê-lo como cliente e em poder atendê-lo com eficiência. Hoje a nossa equipe está especialmente feliz, porque é o seu aniversário e, portanto, uma oportunidade única para desejarmos  tudo o que for de melhor para si. 
                <br>
                <br>
                Que a vida continue a proporcionar-lhe apenas bons eventos e que nunca lhe falte saúde e disposição para lutar pelos seus objetivos e conquistar cada vez mais o seu espaço. 
                
                <br>
                <br>
                Que o seu dia seja carregado de muita felicidade e alegria, e que a sua vida seja guiada para muitos outros sucessos e novas conquistas. 
                Nossa parceria foi construída de forma muito positiva e só temos a agradecer pela confiança e por sempre trazer com você muita simpatia.

                Receba os melhores votos da Alfredo imóveis!
                Parabéns e tenha um feliz aniversário!

            </h4>


            <br>
             <h4>Alfredo Imóveis.</h4>
                    
             <h4>Montes Claros {{cliente.data_nascimento|date:'d - M -'}}

             {{data.year}}</h4>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
        {% endfor %}
{% endblock %}        
