{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo imóveis - Clientes
{% endblock %}

{% block conteudo %}
    <h1>Edição de cliente</h1>

    {% if mensagem %}
        <br/>
        <div class="alert alert-info fade in">
            {{mensagem}}
        </div>
    {% endif%}

    {% if erros %}
    <br/>
    <div class="alert alert-danger fade in">
        {{erros}}
    </div>
    {% endif%}

    
    <form method="POST"
          action="{% url 'app_clientes_salvar' cliente.id %}">
        {% csrf_token %}
        {% include 'clientes/form_cliente.html' %}
        <br/>
        <button type="submit" class="btn btn-info">Gravar</button>
        <a href="{% url 'app_clientes_cartas_aniversario_individual' cliente.id %}" class="btn btn-success">Carta de aniversário</a>
        {% include 'clientes/modalExcluiCliente.html' %}
        Data do cadastro: {{cliente.data_cadastro}}
    </form>

   <div class="row">
        {% if imoveis %}
            <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3>Imóveis
                            <a class="btn btn-success" type="button" href="{% url 'app_imoveis_add_imovel_usuario' cliente.id %}">Novo imóvel</a>   
                        </h3>
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Proprietário</th>
                                    <th>Última vistoria</th>
                                    <th>Valor do aluguel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for imovel in imoveis %}
                                    <tr class="odd gradeX">
                                        <td>{{imovel.descricao}}</td>
                                        <td>{{imovel.proprietario}}</td>
                                        <td>{{imovel.ultima_vistoria}}</td>
                                        <td>{{imovel.valor_aluguel}}</td>
                                        <td>
                                            <a href="{% url 'app_imoveis_detalhe' imovel.id %}">
                                                <img src="{{STATIC_URL}}bootstrap/img/edit.png">
                                            </a>
                                        </td>
                                    </tr>
                                </a>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                    <!-- /.col-lg-12 -->
        </div> <!--Row-->
{% else %}
    <div class="col-lg-4">
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% if mensagem %}
                {{mensagem}}
            {% else %}
                Você ainda não possui <strong>imóveis</strong> cadastrados
            {% endif %}

        </div>
    </div>
{% endif %}
    </div>        
{% endblock %}