<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Consulta avançada de clientes</h3>
    </div>
    <div class="panel-body">
        <form method="POST"
                  action="{% url 'app_clientes_filtrar' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    <p>
                       <input class="form-control" type="text" name="codigo" placeholder="Código">
                    </p>
                    <input class="form-control" type="text" name="nome" placeholder="Nome">
                </div>

                <div class="col-sm-3">
                    <input class="form-control" type="text" name="endereco" placeholder="Endereço">
                </div>

                <div class="col-sm-3">
                    <label>
                      <input type="checkbox" name="ativo">   Inativos
                    </label>         
                </div>

                <div class="col-sm-3">
                    <label> Mês do cadastro </label>
                    <br/>De<input class="form-control" type="date" name="dataini">
                    <br/>
                    Até<input class="form-control" type="date" name="datafim">
                </div>
            </div>

            <button type="submit" class="btn btn-info">Pesquisar</button>
            <label> 
               <input  type="checkbox" name="relatorio">   Gerar relatório
            </label>
            
        </form>
    </div>
</div>