<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Emissão em massa de cartas de aniverśario</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="{% url 'app_clientes_cartas_aniversario_filtrar' %}">
            {% csrf_token %}
            <div class="row">
                
               <div class="col-sm-6">
               <label>Filtrar pela data de nascimento</label> 
                    <br>De<input class="form-control" type="date" name="dataini" required>
               </div>
            
                <div class="col-sm-6">
                    <br>Até<input class="form-control" type="date" name="datafim" required>
                    <br/>
                </div>

            </div>
            <br>
            <button type="submit" class="btn btn-info">Filtrar</button>

            <label>Filtrar e Imprmir</label>
            <input type="checkbox" name="filtrar_imprimir" />
        </form>
    </div>
</div>