{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Alfredo Imóveis
{% endblock %}

{% block conteudo %}

       <div class="row">
            <div class="col-md-8">
                 <img src="{{STATIC_URL}}bootstrap/img/img01.png" class="img-responsive">
            </div>
            {% if form %}
                <div class="col-md-4">
                    <form method="POST" action="." class="form-group">
                        {% csrf_token %}
                        {{form|bootstrap}}
                        <input type="submit" class="btn btn-primary"/>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'main_home' %}">
                    <button type="button" class="btn btn-primary">Acessar</button>
                </a>
            {% endif %}
       </div>
{% endblock %}

