{% extends "template_base.html" %}

{% block titulo %}
   {{dados.site_titulo}}
{% endblock %}

{% block conteudo %}
       <div class="row">
           <img src="{{STATIC_URL}}bootstrap/img/img01.png" class="img-responsive">
       </div>

        <div class="row">
            <form method="POST" action="." class="well">
                {% csrf_token %}
                 <br/>
                {{form.as_p}}
                <br />
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
{% endblock %}

