<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="{% url 'main_home' %}">Alfredo Imóveis</a>
        </div>

        <div class="navbar-collapse collapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="{% url 'app_financeiro_home' %}" class="dropdown-toggle" data-toggle="dropdown">
                  Cadastros <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                    <li><a href="{% url 'app_enderecos_bairro_home' %}">Bairros</a></li>
                    <li><a href="{% url 'app_clientes_home' %}">Clientes</a></li>
                    <li><a href="{% url 'app_enderecos_cidade_home' %}">Cidade</a></li>
                    <li><a href="{% url 'app_funcionarios_home' %}">Funcionários</a></li>
                    <li><a href="{% url 'app_imoveis_home' %}">Imóveis</a></li>
                    <li><a href="{% url 'app_imoveis_laudo_vistoria_home' %}">Laudos de vistoria</a></li>
                    <li><a href="{% url 'app_parametros_home' %}">Parâmetros</a></li>
              </ul>

            </li>

            <li class="dropdown">
              <a href="{% url 'app_financeiro_home' %}" class="dropdown-toggle" data-toggle="dropdown">
                  Financiero <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'app_financeiro_home' %}">Visão geral</a></li>
                <li><a href="{% url 'app_financeiro_conta_caixa_home' %}">Contas caixa</a></li>
                <li><a href="{% url 'app_financeiro_titulo_home' %}">Títulos</a></li>
              </ul>
            </li>



            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Contratos <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'app_imoveis_contrato_home' %}">Contratos de locação</a></li>
                <li><a href="{% url 'app_imoveis_contrato_administrativo_home' %}">Contratos  administrativos</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Relatórios <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bem vindo {{user.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'url_logout' %}">Sair</a></li>
              </ul>
            </li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>