<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_clientes_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Clientes</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/clientes.png" alt="Gestão de clientes e fiadores"/>
        </a>            
    </div>            

    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_financeiro_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Financ. Visão geral</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/visaogeral.png" alt="Financeiro - Visão geral"/>
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_financeiro_conta_caixa_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Contas-caixa</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/contacaixa.png" alt="Gestão de contas-caixa"/>
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_imoveis_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Imóveis</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/imoveis.png" alt="Gestão de imóveis"/>
        </a>
    </div>
</div>    

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_financeiro_titulo_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Recibos</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/titulos.png" alt="Gestão de títulos a pagar e receber"/>
        </a>            
    </div>            

    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_enderecos_bairro_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Bairros</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/bairro.png" alt="Gestão de bairros"/>
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_funcionarios_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Funcionários</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/funcionarios.png" alt="Gestão de funcionários"/>
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="{% url 'app_imoveis_contrato_home' %}" class="thumbnail">
            <p align="center">
                <span class="label label-default">Contratos</span>
            </p>
            <img src="{{STATIC_URL}}bootstrap/img/contratos.png" alt="Gestão de contratos"/>
        </a>
    </div>

</div>  


    <div class="panel panel-default">
        <div class="panel-body">
            <h6 align="center">Sistema de gestão de imóveis e contratos de locação - Alfredo Imóveis</h6>
        </div>
        <div class="panel-footer">
            <h6 align="center">Jatz Systems - Web and mobile systems solutions</h6>
        </div>  
    </div>
